extends layout

block head

block body

	inpupt#page-hash(type='hidden', value='#{pageHash}')

	div.skyscraper-ad-container.
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- JSCompress Skyscraper -->
		<ins class="adsbygoogle"
			style="display:inline-block;width:300px;height:600px"
			data-ad-client="ca-pub-4935860098369837"
			data-ad-slot="6435367306"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

	div#main

		h1 JS Compress
		h2 The online multiple javascript compression utility

		div.container
			ul.nav.nav-tabs
				li.files-tab
					a(href='#') Files
				li.text-tab.active
					a(href='#') Text

			div.files-tab-container.hidden
				div.drag-files-container#holder
					span.placeholder
						| Drag files here to upload...
						div.small Files will be compressed and combined to a single file in the order they appear here
					p#upload.hidden
						label
							| Drag & drop not supported, but you can still upload via this input field:
							br
							input(type="file")
					p#filereader File API & FileReader API not supported
					p#formdata XHR2's FormData is not supported
					p#progress XHR2's upload progress isn't supported
					div.status-bar
						div.progress-container
							| Upload progress:
							div.progress
								div.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
						div.files-count-container
							| Files :
							span.files-count 0
						div.clear-all-area
							a.clear-all(href='#', onclick='clearAll()') Clear

				div.output-details
					div.title Output Details
					div.output

			div.text-tab-container
				textarea#js-input.js-input(name='js-input', placeholder='Paste your javascript code here...')
				div.output-details
					div.title Output Details
					div.output


			div.actions
				div
					span Choose a compressor :
					span.compressor-choice
						div.compressor-yui.compressor-choice
							div.check
						input#compressor-yui.compressor-yui(type='radio', name='compressor-type', value='yui-compressor')
						label(for='compressor-yui') YUI Compressor
					span.compressor-choice
						div.compressor-jsmin.compressor-choice
							div.check
						input#compressor-jsmin.compressor-jsmin(type='radio', name='compressor-type', value='jsmin-compressor')
						label(for='compressor-jsmin') JSMin
					span.compressor-choice
						div.compressor-uglify.compressor-choice
							div.check
						input#compressor-uglify.compressor-uglify(type='radio', name='compressor-type', value='uglify-compressor')
						label(for='compressor-uglify') UglifyJS
					span.compressor-choice
						div.compressor-all.compressor-choice
							div.check.selected
						input#compressor-all.compressor-all(type='radio', name='compressor-type', value='all-compressor', checked='checked')
						label(for='compressor-all') Check them all!

				div.ad.leaderboard-ad.
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- JSCompress Leaderboard -->
					<ins class="adsbygoogle"
						style="display:inline-block;width:728px;height:90px"
						data-ad-client="ca-pub-4935860098369837"
						data-ad-slot="1586365304"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>

				button#compress-js-button.btn.btn-primary(type='submit') COMPRESS JS

			div.explanation.well.well-sm
				h3.title(style='margin-top:0;') Javascript Compression
				| Today most websites compress and minify their javascript resources so their end-users
				| can enjoy much better peformance.
				br
				| Website performance is a crucial part in the succees of any website, and is proven to
				| improve sales on your site as well.

				h3.title Compressors Used
				ul
					li
						a(href='http://yui.github.io/yuicompressor/', target='_blank') YUI Compressor
					li
						a(href='http://www.crockford.com/javascript/jsmin.html', target='_blank') JSMin
					li
						a(href='https://github.com/mishoo/UglifyJS', target='_blank') UglifyJS
					li
						a(href='https://developers.google.com/closure/compiler/', target='_blank') Google Closure Compiler
						| (coming soon!)

				h3.title Some Great References
				ul
					li
						a(href='http://engineeredweb.com/blog/why-minify-javascript/', target='_blank') Why minify Javascript?
					li
						a(href='http://stevesouders.com/hpws/rules.php', target='_blank') 14 Rules for faster loading web sites by Steve Souders
					li
						a(href='https://developer.yahoo.com/performance/rules.html', target='_blank') Yahoo's best practices for speeding up your website
					li
						a(href='https://developers.google.com/speed/docs/insights/rules?csw=1', target='_blank') Google's PageSpeed insights rules
					li
						a(href='http://apmblog.compuware.com/2010/08/25/top-10-client-side-performance-problems-in-web-2-0/', target='_blank') Top 10 client-side performance problems in Web2.0
					li
						a(href='http://www.webpagetest.org/', target='_blank') WebPageTest - The best online client side performance testing utility